<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>831543314473-k14v9anfff76sh22tm43pgup3fpsvoqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831543314473-k14v9anfff76sh22tm43pgup3fpsvoqk</string>
	<key>API_KEY</key>
	<string>AIzaSyB_py9tfqlHHc2iY7NXzo2uH2I_gcIh7ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>831543314473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baywa.stiftung.essenwissen.app</string>
	<key>PROJECT_ID</key>
	<string>baywa-stiftung</string>
	<key>STORAGE_BUCKET</key>
	<string>baywa-stiftung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:831543314473:ios:505926a2c09f5b0e</string>
	<key>DATABASE_URL</key>
	<string>https://baywa-stiftung.firebaseio.com</string>
</dict>
</plist>
